.App {
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:black;
}

.container{
    background: #d3efdf;
    padding: 25px;
    max-width: 760px;
    margin: 25px auto;
    overflow: hidden;
    border-radius: 10px;
    border: 4px solid #b1c9bb;
    font-family: sans-serif;
}

h1,h2 {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
  }
  
  h2 {
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #b1c9bb;
    padding: 0 0 10px;
    color: #57635c;
  }

  .new-task{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }
  
  .box {
    padding: 10px 15px;
    border: 2px solid #b1c9bb;
    border-radius: 5px;
    background: #fff;
    margin: 15px 0;
  }  

  .button{
    background-color: cadetblue;
    color:white;
    padding: 5px 10px;
    border-radius: 10px;
    width: 100px;
  }

  .button2{
    background-color: cadetblue;
    color:white;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 10px;
  }

  .App2{
    text-align: center;
    margin: 20px;
  }


  .container2{
    background: #d3efdf;
    padding: 5px;
    width: 300px;
    margin: 5px auto;
    overflow: hidden;
    border-radius: 5px;
    border: 4px solid #b1c9bb;
    font-family: sans-serif;
  }

  .property{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .task{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
  }

  .lebel{
    margin-right: 20px;
    text-shadow: black;
  }
